<template>
  <div>
    <v-client-table :data="tableData" :columns="columns" :options="options">
      <!-- Filters -->
      <b-form slot="beforeFilter" inline class="mb-4">
        <label class="form-label mr-sm-2">Direction</label>
        <b-select
            class="custom-select mr-sm-2 mb-2 mb-sm-0"
            v-model="filters.direction"
            :options="['All','Incoming','Outgoing']" />

        <label class="form-label mr-sm-2">Call</label>
        <b-select
            class="custom-select mr-sm-2 mb-2 mb-sm-0"
            v-model="filters.call"
            :options="['All', 'Success', 'Not answer']" />

        <label class="form-label mr-sm-2">Department</label>
        <b-select
            class="custom-select mr-sm-2 mb-2 mb-sm-0"
            v-model="filters.department"
            :options="departments" />

        <label class="form-label mr-sm-2">Employee</label>
        <b-select
            class="custom-select mr-sm-2 mb-2 mb-sm-0"
            v-model="filters.employee"
            :options="employees" />
      </b-form>

      <b-form slot="afterFilter" inline class="mb-4">
        <label class="form-label mr-sm-2">Datetime</label>
        <flat-pickr
            class="mr-sm-2 mb-2 mb-sm-0"
            v-model="filters.datetimeRange"
            :config="rangeConfig"
            :placeholder="!isIE ? 'Select datetime' : null" />
      </b-form>

      <template slot="destination" slot-scope="props">
        <div>
          <p>{{ props.row.phoneNumber }}</p>
          <a href="#">выбрать клиента</a>
        </div>
      </template>
      <template slot="datetime" slot-scope="props">
        <div>{{ moment(props.row.datetime).startOf('day').fromNow() }}</div>
      </template>
      <template slot="whom" slot-scope="props">
        <div>{{ props.row.toWhom }}</div>
      </template>
      <template slot="input_number" slot-scope="props">
        <div>{{ props.row.inputNumber }}</div>
      </template>
      <template slot="status" slot-scope="props">
        <div>
          <b-badge href="javascript:void(0)" :variant="getBageVariant(props.row.status)">{{ props.row.status }}</b-badge>
        </div>
      </template>
      <template slot="listen" slot-scope="props">
        <div>
          <b-btn variant="borderless" class="btn-xs" @click.prevent="listen(props.row)">Прослушать</b-btn>
        </div>
      </template>
    </v-client-table>
  </div>
</template>

<style src="@/vendor/libs/vue-data-tables/vue-data-tables.scss" lang="scss"></style>
<style src="@/vendor/libs/vue-flatpickr-component/vue-flatpickr-component.scss" lang="scss"></style>

<script>
import Vue from 'vue'
import moment from 'moment'
import { ClientTable } from 'vue-tables-2'
import flatPickr from 'vue-flatpickr-component'

Vue.use(ClientTable)

function isRTL () {
  return document.documentElement.getAttribute('dir') === 'rtl' ||
         document.body.getAttribute('dir') === 'rtl'
}

export default {
  name: 'calls',
  metaInfo: {
    title: 'Calls'
  },
  data: () => ({
    filters: {
      direction: 'All',
      datetimeRange: null,
      department: 'All',
      employee: 'All',
      call: 'All'
    },
    departments: [
      'All',
      'Some department',
      'Enother department',
      'Else department'
    ],
    employees: [
      'All',
      'Some employee',
      'Else employee',
      'Enother employee'
    ],
    tableData: [],
    columns: ['destination', 'datetime', 'whom', 'input_number', 'status', 'listen'],
    options: {
      filterable: [],
      perPageValues: [],
      pagination: { chunk: 5 },
      sortIcon: {
        is: 'fa-sort',
        base: 'fas',
        up: 'fa-sort-up',
        down: 'fa-sort-down'
      }
    },
    rangeConfig: {
      mode: 'range',
      enableTime: true,
      altInput: true,
      animate: !isRTL()
    },
    moment
  }),
  created () {
    for (let i = 0; i < 20; i++) {
      this.tableData.push({
        phoneNumber: `${i}`.repeat(10),
        datetime: '2014-06-01T12:00:00Z',
        toWhom: `Nick - ${i}`,
        inputNumber: '',
        status: 'success'
      })
    }
  },
  methods: {
    getBageVariant (status) {
      switch (status) {
        case 'success':
          return 'success'

        default:
          return 'info'
      }
    },
    listen (row) {
      // listen phone call
    }
  },
  components: { flatPickr }
}
</script>
